In [2]:
import json
import pandas as pd
import ahpy

from pyDEA.core.data_processing import read_data_from_xls
from pyDEA.core.models.envelopment_model_base import EnvelopmentModelBase

# with open('../data/research_data/television.json') as json_model:
#     ahp_hierarchy = json.load(json_model)

In [13]:
import numpy
import scipy

In [10]:
experience_comparisons = {('Moll', 'Nell'): 1/4, ('Moll', 'Sue'): 4, ('Nell', 'Sue'): 9}
education_comparisons = {('Moll', 'Nell'): 3, ('Moll', 'Sue'): 1/5, ('Nell', 'Sue'): 1/7}
charisma_comparisons = {('Moll', 'Nell'): 5, ('Moll', 'Sue'): 9, ('Nell', 'Sue'): 4}
age_comparisons = {('Moll', 'Nell'): 1/3, ('Moll', 'Sue'): 5, ('Nell', 'Sue'): 9}

In [4]:
criteria_comparisons = {('Experience', 'Education'): 4, ('Experience', 'Charisma'): 3, ('Experience', 'Age'): 7,
			    ('Education', 'Charisma'): 1/3, ('Education', 'Age'): 3,
			    ('Charisma', 'Age'): 5}

In [14]:
experience = ahpy.Compare('Experience', experience_comparisons, precision=3, random_index='saaty')
education = ahpy.Compare('Education', education_comparisons, precision=3, random_index='saaty')
charisma = ahpy.Compare('Charisma', charisma_comparisons, precision=3, random_index='saaty')
age = ahpy.Compare('Age', age_comparisons, precision=3, random_index='saaty')
criteria = ahpy.Compare('Criteria', criteria_comparisons, precision=3, random_index='saaty')

In [15]:
criteria.add_children([experience, education, charisma, age])

In [16]:
criteria.target_weights

{'Nell': 0.518, 'Moll': 0.343, 'Sue': 0.14}

In [11]:
experience = ahpy.Compare('Experience', experience_comparisons, precision=3, random_index='saaty')

In [12]:
experience.target_weights

{'Nell': 0.762, 'Moll': 0.19, 'Sue': 0.048}

In [13]:
0.19*4

0.76

In [7]:
data = {
    'DMU': ['A', 'B', 'C', 'D'],
    'Input1': [100, 120, 80, 200],
    'Input2': [70, 100, 60, 150],
    'Output1': [80, 140, 100, 180],
    'Output2': [90, 160, 110, 200]
}

# Create a DataFrame
df = pd.DataFrame(data)
df.set_index('DMU', inplace=True)

In [8]:
df

     Input1  Input2  Output1  Output2
DMU
A       100      70       80       90
B       120     100      140      160
C        80      60      100      110
D       200     150      180      200